/*

.MainBox {
  background-color: aqua;
  display: flex;
  width: 100%;
  flex-direction: column;
}


.uploader-image-list {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: 1rem;
}

.uploader-preview img {
  max-width: 200px;
  max-height: 200px;
}

.uploader-loading {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.ImagesUploadedBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 10px red;
  background-color: pink;
padding: 5%;

}

.MuiImageList-root {
  display: flex;
  align-items: stretch;
  background-color: orange;

}

.MuiImageListItem-img {
  border: 2px solid blue;


}
.TitleUrl {
  width: 50%;
  text-align: center;
  background-color: gold;
}
/*
  .MuiImageListItem-root  {
    width: 80%;

  }

  .ImagesUploadedBox{
    border-top: solid 10px red;
    width: 100%;
  }

  */